.museum{
    display:flex;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.column{
    display: flex;
    flex-direction: column;
    flex-grow: 0.25;
}

.frame{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    display: flex;
    max-width: 90%;
    max-height: 90%;
}